<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Photo by Julian Lozano on Unsplash https://unsplash.com/@julianlozano?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText -->
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">