@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header__form {
    max-width: 50%;
    margin: auto;
    margin-bottom: 1em;
}

.main-header {
    margin-bottom: 2em;
}

.main-header__nav {
    background-color: black;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active {
    background-color: #4c9e84;
}

.main-header__item-list {
    display: flex;
    list-style: none;
    flex-direction: row;
    /*justify-content: space-evenly;*/
}

.main-header__item a {
    color: white;
    text-decoration: none;
    padding: 33px 26px;
}

.main-header__item a:hover {
    background-color: #4c9e84;
}

.main-header__img {
    /*margin-top: 99px;*/
    max-width: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.main-header__img {
    padding-top: 83px;
}

main {
    margin: 0 5%;
}

.main__header {
    text-align: center;
    background-color: #53a19a;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 3em;
}

.product__title {
    padding: .5em;
}

h1 {
    font-family: 'Playfair Display', serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em;
    max-width: 85%;
    margin: auto;
}

article.card {
    box-shadow: 0px 0px 7px #3c3c3c;
    border-radius: 8px;
    padding: 5%;
    display: grid;
    transition: box-shadow .5s;
}

article.card:hover {
    box-shadow: 0px 0px 20px #3c3c3c;
}

.product__action {
    align-self: flex-end;
}

.card__image img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 6px;
}

.btn {
    display: inline-block;
    padding: .5em 2em;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #00695c;
    color: white;
}

.centered {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.form-control {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.product-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: auto;
}

img.img__detail {
    max-height: 400px;
}

.product-form .btn {
    max-width: 200px;
    margin: 20px 0 0 15px;
}

input,
textarea {
    padding: 10px;
    font-family: 'Montserrat';
}

input,
textarea:focus {
    margin-top: 4px;
}

input:focus,
textarea:focus {
    outline-color: #00695c;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 1em;
    margin-top: 3em;
    justify-content: flex-end;
    flex-shrink: 0;
}

footer p {
    padding: 15px;
}

button.logout {
    color: white;
    background-color: black;
    border: none;
    font-size: 1.2em;
    font-family: 'Montserrat';
    /* padding: 35px 30px; */
    margin: 0;
}

button.logout:hover {
    background-color: #4c9e84;
}

.nomargin {
    margin: 0;
    padding: 0;
    display: flex;
}

.invalid {
    border-color: red;
}

.username {
    color: white;
    align-self: center;
    padding-right: 2em;
}

.orders,
.cart__item-list {
    border-radius: 8px;
    padding: 2em;
    list-style: none;
    max-width: 50%;
    margin: auto;
    margin-bottom: 2em;
    box-shadow: 0px 0px 7px #3c3c3c;
}

li.orders__products-item {
    padding: 10px;
}